#map {
  border: 2px solid black;
  height: 400px;
  width: 80%;
  margin: 20px auto;
}


.controls {
  margin: 20px;
  display: flex;
}

.ng-select .ng-has-value .ng-placeholder {    
  display: none;  
}